#map {
  height: calc(100vh - 56px);
  width: 100vw;
}

.location {
  color: white;
  background: #343a40;
  text-align: center;
  position: fixed;
  font-size: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 100vw;
  padding: 15px 0;
  transition: all .2s ease-in-out;
}

.availability {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin: 10px auto;
}

.availability-info {
  display: flex;
  flex-direction: column;
}

.count {
  font-size: 2.5rem;
}

.red {
  color: red;
}

.green {
  color: lime;
}

.info-container {
  text-align: center;
  font-size: 1.5rem;
  max-width: 500px;
  margin: 0 auto;
}

.info-container>p {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.hide-info {
  transform: translateY(1000px)
}

.status {
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
}

.fave-button {
  position: absolute;
  right: 10%;
  font-size: 1rem;
  color: white;
}

.gold {
  color: gold;
}